body{
    padding: 0;
    margin:0;
    
    
    overflow-x: hidden;
}
h1,p,span,li,input::placeholder{
   
}
.front-page{
    //background-color: #edf0f5;
   // background-image: url(img/background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 100%;
    position: relative;

}
.front-header{
    width: 100%;
    height: 70px;
    //border:1px solid grey;
    position: absolute;
    left: 0;
    top: 0;
    background-color:#fafafa;
    .front-logo{
        width: 60px;
        padding: 10px;
        margin-left: 100px;
    }
    input{
        margin-top: 20px;
        padding:3px 10px;
        border:1px solid rgb(79, 84, 85);
        background: white;
        border-radius: 5px;
        
    }
    .header-log-submit:hover{
        cursor: pointer;
        background-color: aquamarine;
        transition: .1s all;   
        transition-delay: .1s;
    }
}










.front-middle{
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    .front-left{
        width: 100%;
        text-align: center;
    }
    .front-right{
        
        text-align: center;
        .firstname,.lastname{
            display: inline-block;
            width: 45%;
            
        }
        form{
            width: 450px;
            margin: auto;
            //border:1px solid black;
           .gender{
               display: block;
           }
           .registration_radio{
               width: 30px;
               display: inline-block;
               background-color:transparent!important;
               border-radius: 50px;
               border:1px solid red;
           }
           .front-submit{
            background:white;
            font-family: 'Shrikhand', cursive;
            padding: 5px 0px;
            margin-top: 20px;
        }
           input[type='checkbox'] {
            display: inline-block;
            width: 30px;
            box-shadow: none;
            span{
                display: inline-block;
            }
           }
            input{
                display:block;
                margin: 10px auto;
                width: 92%;
                border:none;
                border-radius: 5px;
                padding: 5px 10px;
                -webkit-box-shadow: 0px 6px 46px 0px rgba(204,198,204,1);
-moz-box-shadow: 0px 6px 46px 0px rgba(204,198,204,1);
box-shadow: 0px 6px 46px 0px rgba(204,198,204,1);
            }
        }
    }
}










.front-footer{
    width: 100%;
    //border:1px solid grey;
    background-color:#fafafa;
    position: absolute;
    bottom: 0;
    left: 0;
  .front-footer-box{
      display: inline-block;
      width: 19%;
      ul li{
          list-style-type: none;
      }
  }
  
}






// home page

// .home-header{
//     height: 70px;
//     width: 100%;
//     background-color:#fafafa;
//     display:inline-block;
//    .home-headleft{
//     height: 70px;
//     position: relative;
//     display: inline-block;
//     width: 100%;
//     form{
//         display: inline-block;
//         margin-left: 160px;
//     }
//     input[type=text] {
//         width: 130px;
//         box-sizing: border-box;
//         border: 2px solid #ccc;
//         border-radius: 4px;
//         font-size: 16px;
//         background-color: white;
//         background-image: url('searchicon.png');
//         background-position: 10px 10px; 
//         background-repeat: no-repeat;
//         padding: 12px 20px 12px 40px;
//         -webkit-transition: width 0.4s ease-in-out;
//         transition: width 0.4s ease-in-out;
//     }
    
//     input[type=text]:focus {
//         width: 100%;
//     }
//     .head-logo{
//         width: 60px;
//         position: relative;
//         padding: 10px;
//         margin-left: 30px;

//     }
//     .talking_head{
//         width: 150px;
//         margin: 10px 30px;
//         position: absolute;
//         left: 69px;
//         top: -10px;
//     }
//  }
//  .home-headright{
//      width: 100%;
//      display: inline-block;
//      height: 70px;
//      margin: 0;
   
//      p{
//         padding: 20px;
//      }
//  }
// }
.navbar-laravel{
   padding: 20px 40px;
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-left: 70px;
}

input[type=text]:focus {
    width: 400px;
}
.home-logo{
    width: 40px;
}
}
#demo {
    margin-top:30px;
}
.btn-info {
    background-color:#009688;
    border-color:#009688;
}
.home-center{
    width:80%;
    margin: auto;
}
.home-news-title{
    color:#000;
    font-size: 22px;
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.up-save{
    text-align: right;
    a{
        color:#000;
        font-size: 16px;
        text-transform: uppercase;
        i{
            color:#17a2b8;
        }
        &:hover{
            cursor: pointer;
        }
    }
}
.up-img{
        text-align: center;
        position: relative;
    img{
        width: 45px;
        border-radius: 50px;
        
    }
}
.up-person{
        
        text-align:left;
    p,span{
        margin:0;
        padding: 0;
    }
    a{
        color:#000;
        font-size:17px;
        cursor: pointer;
    }
}
.up-title {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #efe5e5;
    .up-account{
        
    }
    
    
}
.up-account{
    margin-top: 10px;
}

.news-down-watch{
   width: 100%;
   text-align: right;
}
.news-down-watch {
    padding: 20px 0px;
    .watch-number,.user-watch-time,.watch-date{
        display: inline-block;
        padding-right: 15px;
        font-size: 16px;
        color:#a0a0a0;
        &:hover{
            color:rgb(29, 28, 28);
            transition: .5s ease;
            cursor: pointer;
        }
    }
    
}
.see-full{
    text-align: right;
}
.front-seefull{

    a {
        display: inline-block;
        margin: 15px 5px;
        padding: 10px;
        font: 700 12px/1 'Open Sans', sans-serif;
        border-radius: 3px;
        box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        color: #777;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  background: #fff;
}
a:hover{
    background: #f5f5f5;
    text-decoration: none;
  }
 
    
    
        
        
}
.list-group{
    background:#fff;
    padding: 20px;
    margin-top: 40px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 7px 50px -12px rgba(68,102,96,1);
-moz-box-shadow: 2px 7px 50px -12px rgba(68,102,96,1);
box-shadow: 2px 7px 50px -12px rgba(68,102,96,1);
border-top: 8px solid #009688;
position: relative;
 .home-news-icon{
    position: absolute;
    top: -34px;
    left: 0%;
    text-align: center;
    width: 100%;
    
    i{
    font-size:27px;
    color:#fff;
    background:#009688;
    display: inline-block;
    border-radius: 50px;
    padding: 15px 15px;
    margin:auto;
    
    }
}
}


.home-content-box{
    border-bottom: 1px solid #efe5e5;
    width: 100%;
    padding: 10px;
    p{
        overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    }
}




.up-img:hover .star-rating{
    display: block;
    
}
.star-rating {
    // display: none;
    padding:0 .2em;
    text-align:center;
    position: absolute;
    left: 0;
    -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
    input {
        display: none;
    }
  
.star-active{
    fill:#ffbb00;
}
  
  .star-1:hover{
      fill:#ffbb00;
  }
  .star-2:hover{
      fill: #cc9600;
  }
  .star-3:hover{
    fill: #cc9600;
}
.star-4:hover{
    fill: #cc9600;
}
.star-5:hover{
    fill: #cc9600;
}
//   #star-1:checked ~ section [for='star-1'] svg path, #star-2:checked ~ section [for='star-1'] svg path, #star-2:checked ~ section [for='star-2'] svg path, #star-3:checked ~ section [for='star-1'] svg path, #star-3:checked ~ section [for='star-2'] svg path, #star-3:checked ~ section [for='star-3'] svg path, #star-4:checked ~ section [for='star-1'] svg path, #star-4:checked ~ section [for='star-2'] svg path, #star-4:checked ~ section [for='star-3'] svg path, #star-4:checked ~ section [for='star-4'] svg path, #star-5:checked ~ section [for='star-1'] svg path, #star-5:checked ~ section [for='star-2'] svg path, #star-5:checked ~ section [for='star-3'] svg path, #star-5:checked ~ section [for='star-4'] svg path, #star-5:checked ~ section [for='star-5'] svg path {
//     fill: #ffbb00;
//     stroke: #cc9600;
//   }

  

 svg {
    width: 20px;
    height: auto;
    fill: white;
    stroke: #000;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
    cursor: pointer;
  }
  input svg path {
    transition: fill 200ms ease-in-out, stroke 100ms ease-in-out;
  }
  


}